/* Override Bootstrap's link active state styles */
.nav-link {
    color: #fff !important; 
    }

.nav-link.active{
    color: rgb(42, 165, 73) !important;
    background-color: aliceblue !important;
}